@import url("https://fonts.googleapis.com/css?family=Roboto");
.owl-idea {
  width: 100vw;
  overflow: hidden;
}

.owl_content {
  padding-left: 12%;
}

.owl-idea .owl-item {
  opacity: 0;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  -ms-transform: scale(0.6);
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transform: all .2s;
  z-index: 1;
}

.owl-idea .active {
  opacity: 0.5;
}

.owl-idea .active.middle_beside {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -ms-transform: scale(0.8);
  opacity: 0.8;
  margin: 0 -1%;
  z-index: 2;
}

.owl-idea .active.middle {
  -webkit-transform: scale(1);
          transform: scale(1);
  -ms-transform: scale(1);
  opacity: 1;
  z-index: 3;
}

.owl-idea .active.next_to_mid {
  margin-left: -1%;
}

.owl-idea .active.prev_to_mid {
  margin-right: -1%;
}

/*===== Navigation =====*/
.owl-idea .prev, .owl-idea .next {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 30px;
  border-radius: 100%;
  text-align: center;
  line-height: 30px;
  color: #fff;
  background: #777;
  cursor: pointer;
  z-index: 5;
}

.owl-idea .next {
  left: calc(100% - 100px);
}

.no_select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.infos {
  width: 500px;
  text-align: center;
  font-family: 'Roboto', Arial;
  font-size: 14px;
  line-height: 16px;
  margin-top: 50px;
  color: #000;
}

.infos a {
  color: #555;
  text-decoration: none;
}

.infos a:hover {
  color: #999;
}
