header {
  background-image: -webkit-gradient(linear, left top, right top, from(#b304d6), to(#1035da));
  background-image: linear-gradient(to right, #b304d6, #1035da);
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

header .container {
  padding: 13px 50px !important;
}

header.fixed .container {
  padding: 4px 50px !important;
}
